@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Sixtyfour+Convergence&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "Afacad Flux", sans-serif;
}